tornado
pbkdf2
PyMySQL
python-binary-memcached
python-dateutil
defusedxml
netaddr
pytest
pytest-cov
python-resize-image
sqlalchemy==1.*
alembic
mysqlclient
rocketchat_API
setuptools-rust
msal
requests
